<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info" style="margin-top: 100px">
                    <div class="panel-heading">
                        <strong>
                            Unable to find any rules involving {{ name }}
                        </strong>
                    </div>
                    <div class="panel-body">
                        <p>Remember the following constraints with this tool:
                        <ul>
                            <li>A limited number of address group nesting is done. Configure this using the 'nesting' setting</li>
                            <li>The search does not include subnets which may contain the object</li>
                            <li>Rules with 'any' is omitted</li>
                            <li>Objects with a different name, but the same IP address is not searched for</li>
                        </ul>
                        <p>This list is not a full list of all limitations. If you think this search should have resulted in hits, 
                        open an issue in <a href="https://github.com/rodvand/netbox-paloalto/"> the Github repository</a>.</p>
                    </div>
		    </div>
	    </div>
	</div>
</div>
