<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top: 50px">
                    <div class="panel-heading">
                        <strong>Search</strong>
                    </div>
                    <div class="panel-body text-center">
                        <form action="" method="post">{% csrf_token %}
                            <strong>Device/virtual machine</strong>
                            <input name="name" id="name" type="text" />
                            <input type="submit" value="Find rules!">
                        </form>
                    </div>
                </div>
            </div>
	    </div>
	</div>
</div>
